<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - MbaBlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation-float.min.css"
    crossorigin="anonymous">

  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation-prototype.min.css"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation-rtl.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
  <div class="top-bar" style="background-color: rgb(0, 33, 60);">
    <div class="top-bar-left">
      <ul class="menu" style="background-color: rgb(0, 33, 60); color: aliceblue;">
        <li class="menu-text"><a style="color: aliceblue;" asp-controller="Posts" asp-action="Index">
            <H3><strong>MBA DevXpert - Modulo 1</strong></H3>
          </a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <partial name="_LoginPartial" />
      </ul>
    </div>
  </div>
  <article class="grid-container">
    @RenderBody()
  </article>

  <footer>
    <di class="grid-x" style="position: relative; min-height: 5vh; padding-top: 20px;">
      <div class="grid-x callout secondary" style="position: relative; color: rgb(0, 33, 60);  width: 100%;">
        &copy; 2024 - MBA DevXpert | &nbsp;<a asp-area="" asp-controller="Posts" asp-action="Index">Home</a>
      </div>
    </di>
  </footer>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
