@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="menu" style="background-color: rgb(0, 33, 60); color:aliceblue">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="menu-text">
            <span style="color:aliceblue">Bem vindo, @User.Identity?.Name!</span>
        </li>
        <li class="menu-text">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Posts", new { area = "" })">
                <button type="submit" class="hollow button secondary" style="color:rgb(249, 249, 249)">Sair</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register" style="color:aliceblue">Novo Uuario</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" style="color:aliceblue">Login</a>
        </li>
    }
</ul>
