<div class="grid-x align-center" style="padding-top: 20px;">
        <div class="cell medium-10">
            <div class="blog-post">
                <h3>Nao autorizado!</h3>
                <p>
                </p>
                <div class="align-bottom pt-3">
                    <a asp-controller="Posts" asp-action="Index" class="button secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>