<div class="grid-x align-center">
        <div class="cell medium-10">
        <div class="blog-post" style="padding-top: 20px;">
                <h3>Nao autorizado!</h3>
                <p>
                </p>
                <div class="align-bottom pt-3">
                <a asp-controller="Posts" asp-action="Index" class="button secondary">Voltar ao inicio</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>