@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 style="padding-top: 50px">@ViewData["userId"]</h4>
    <h4 style="padding-top: 50px">@ViewData["username"]</h4>
</div>
