@using MbaBlog.Data.Domain
@model Post

@{
    ViewData["Title"] = "Novo Post";
}
<form asp-action="Create">
    <input type="hidden" asp-for="CriadoEm" value=@DateTime.Now class="form-control">
    <div class="grid-x align-center" style="padding-top: 20px;">
        <div class="cell medium-10">
            <div class="blog-post">
                <h3>Novo Post</h3>
                <p>
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" maxlength="80" />
                    <span asp-validation-for="Titulo" style="color: red;"></span>
                </p>
                <p>
                    <label asp-for="Texto" class="control-label"></label>
                    <textarea asp-for="Texto" type="Text" class="form-control" rows="10" wrap="soft"
                        maxlength="1500"></textarea>
                    <span asp-validation-for="Texto" style="color: red;"></span>
                </p>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="button" />&nbsp;&nbsp;&nbsp;
                    <a class="button secondary" asp-action="Index">Voltar</a>
                </div>
                <input type="hidden" asp-for="CriadoEm" value=@DateTime.Now class="form-control">
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
