@model MbaBlog.Domain.Domain.Post

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Post</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" >
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 pt-2">
                <label asp-for="Texto" class="control-label"></label>
                <textarea asp-for="Texto" type="Text" class="form-control" rows="10" wrap="soft"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AutorId" />
            <input type="hidden" asp-for="ModificadoEm" value=@DateTime.Now class="form-control">
            <input type="hidden" asp-for="CriadoEm" class="form-control">
            <div class="form-group">
                <p class="pt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
