@model IEnumerable<MbaBlog.Domain.Domain.Post>

<p>
    <a asp-action="Create"><input type="button" value="Criar Post" class="btn btn-success" /></a>
</p>

@foreach (var item in Model)
{
    <div class="blog-post">
        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3> <small>@Html.DisplayFor(modelItem => item.CriadoEm)</small>
        <p>
            @Html.DisplayFor(modelItem => item.Texto) <a asp-action="Details" asp-route-id="@item.Id">
                <input type="button" value="Leia mais"
                        class="btn btn-info" />
            </a>
            <hr />
        </p>
    </div>
}