@model IEnumerable<MbaBlog.Domain.Domain.Post>

<p>
    <a asp-action="Create"><input type="button" value="Criar Post" class="btn btn-success" size="5" /></a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <h6> @Html.DisplayFor(modelItem => item.Titulo) </h6>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Leia mais" class="btn btn-info" size="5" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
