@model IEnumerable<MbaBlog.Domain.Domain.Post>
<div class="grid-x align-right" style="padding-top: 20px;">
    <p>
        <a asp-action="Create" class="hollow button large">Novo Post</a>
    </p>
</div>
<div class="grid-x align-center">
    @foreach (var item in Model)
    {
        <div class="blog-post">
            <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
            <p>
                @Html.DisplayFor(modelItem => item.Texto)<a class="link" asp-action="Details" asp-route-id="@item.Id"> Leia mais</a>
            </p>
        </div>
    }
</div>