@model MbaBlog.Domain.Domain.ComentarioPost

<form asp-action="Create">
    <input type="hidden" asp-for="PostId" value=@ViewData["PostId"] />
    <div class="grid-x align-center" style="padding-top: 20px;">
        <div class="cell medium-10">
            <div class="blog-post">
                <h3>Digite aqui seu comentario</h3>
                <p>
                    <textarea asp-for="Comentario" type="Text" class="form-control" rows="10" wrap="soft"></textarea>
                    <span asp-validation-for="Comentario" style="color: red;"></span>
                    <input type="hidden" asp-for="PostId" value=@ViewData["PostId"] />
                </p>
                <div class="form-group align-bottom pt-3">
                    <input type="submit" value="Salvar" class="button" />&nbsp;&nbsp;&nbsp;
                    <a href='javascript:history.go(-1)' class="button secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
