@using MbaBlog.Data.Domain
@model ComentarioPost

<form asp-action="Delete">
    <div class="grid-x align-center" style="padding-top: 20px;">
        <div class="cell medium-10">
            <div class="blog-post">
                <h3>Tem certeza que deseja excluir?</h3>
                <p>
                    @Html.DisplayFor(model => model.Comentario)
                </p>
                <div class="form-group align-bottom pt-3">
                    <input type="submit" value="Excluir" class="button" />&nbsp;&nbsp;&nbsp;
                    <a href='javascript:history.go(-1)' class="button secondary">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                </div>
            </div>
        </div>
    </div>
</form>
